<div class="container">
  <div class="row"><h2 class="title">ToDO Application</h2></div>

  <div class="row">
    <form class="form-inline">
      <div class="form-row">
        <div class="col-md-5">
          <input
            type="text"
            name="title"
            [(ngModel)]="newTodo.title"
            class="form-control"
            placeholder="ToDo Title"
            autocomplete="off"
          />
        </div>
        <div class="col-md-5">
          <!-- <input type="date" /> -->
          <div class="form-group">
            <div class="input-group">
              <input
                class="form-control"
                placeholder="completion Date"
                name="dp"
                [(ngModel)]="newTodo.date"
                ngbDatepicker
                #d="ngbDatepicker"
                autocomplete="off"
              />
              <div class="input-group-append">
                <button
                  class="btn btn-outline-secondary calendar"
                  (click)="d.toggle()"
                  type="button"
                >
                  <i class="fa fa-calendar" aria-hidden="true"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <button class="btn btn-primary" (click)="addTodo()">Add</button>
        </div>
      </div>
    </form>
  </div>

  <table class="table" *ngIf="todos.length > 0">
    <thead>
      <tr>
        <th></th>
        <th>Title</th>
        <th>Date</th>
        <th>Status</th>
        <th>Options</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let todo of todos">
        <td>
          <i
            class="fa fa-check-circle"
            aria-hidden="true"
            *ngIf="todo.complete"
          ></i>
          <i
            class="fa fa-circle-o"
            aria-hidden="true"
            *ngIf="!todo.complete"
          ></i>
        </td>
        <td>{{ todo.title }}</td>
        <td *ngIf="todo.date.year && todo.date.month">
          {{ todo.date.day }}-{{ todo.date.month }}-{{ todo.date.year }}
        </td>
        <td *ngIf="todo.date && !todo.date.month">{{ todo.date }}</td>
        <td *ngIf="!todo.complete">not complete</td>
        <td *ngIf="todo.complete">complete</td>
        <td class="icons">
          <button
            class="btn btn-success"
            (click)="completeTodo(todo)"
            [disabled]="todo.complete"
          >
            <i class="fa fa-check"></i>
          </button>
          <button
            class="btn btn-primary"
            (click)="open(content, todo)"
            [disabled]="todo.complete"
          >
            <i class="fa fa-pencil"></i>
          </button>
          <button class="btn btn-danger">
            <i class="fa fa-trash" (click)="deleteTod(todo)"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Edit TODO</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <!-- alert -->
    <ngb-alert *ngIf="isEdited" type="success">
      <strong>Todo is Updated successfull</strong>
    </ngb-alert>

    <form [formGroup]="editForm">
      <div class="form-group">
        <label for="">Title</label>
        <div class="input-group">
          <input
            type="text"
            class="form-control"
            formControlName="title"
            name="title"
            value="{{ titleValue }}"
          />
        </div>
      </div>
      <div class="form-group">
        <label for="date">Completion Date</label>
        <div class="input-group">
          <input
            id="date"
            class="form-control"
            formControlName="date"
            name="dp"
            value="{{ dateValue }}"
            ngbDatepicker
            #dp="ngbDatepicker"
          />
          <div class="input-group-append">
            <button
              class="btn btn-outline-secondary calendar"
              (click)="dp.toggle()"
              type="button"
            >
              <i class="fa fa-calendar" aria-hidden="true"></i>
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-danger"
      (click)="modal.close('Save click')"
    >
      Cancel
    </button>
    <button type="button" class="btn btn-primary" (click)="updateTodo()">
      Save
    </button>
  </div>
</ng-template>
